<!doctype html>
<html>
<head>
  <title>Logged Out</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>

  <h1>You have been logged out.</h1>
  <p><a href="./login">Return to Login</a></p>
  <p><a href="/">Return to Home</a></p>

</body>
</html>
