<!DOCTYPE html>
<html>
<head>
    <title>Register for Bertie's Books</title>
</head>
<body>

<h1>Register for Bertie's Books</h1>

<!-- Display validation errors if any -->
<% if (errors && errors.length > 0) { %>
    <div style="color:red; margin-bottom: 15px;">
        <ul>
            <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<form action="/users/registered" method="post">
    Username: <input type="text" name="username" /><br><br>
    First name: <input type="text" name="first" /><br><br>
    Last name: <input type="text" name="last" /><br><br>
    Email: <input type="text" name="email" /><br><br>
    Password: <input type="password" name="password" /><br><br>

    <input type="submit" value="Register" />
</form>

<br>
<a href="/">Back</a>

</body>
</html>
